
<!-- shipping/templates/shipping/pickupstation_detail.html -->

{% extends "inventory/layouts/base.html" %}

{% block content %}
  <div class="container">
    <h2>Pick-up Station Details</h2>
    <br>
    <table class="table">
      <tbody>
        <tr>
          <th>Location:</th>
          <td>{{ pickupstation.location }}</td>
        </tr>
        <tr>
          <th>Station Name:</th>
          <td>{{ pickupstation.name }}</td>
        </tr>
        <tr>
          <th>Station Address:</th>
          <td>{{ pickupstation.address }}</td>
        </tr>
      </tbody>
    </table>
    <a href="{% url 'shipping:pickupstation_list' %}" class="btn btn-primary">Back to Pick-up Stations</a>
  </div>
{% endblock %}

