{% extends 'finance/layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock title %}
{% include 'includes/form-styles.html' %}
{% include 'includes/header.html' %}
{#{% include 'includes/sidebar.html' %}#}
{% block content %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col">
						<h3 class="page-title">Change Password</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'accounts:finance-manager' %}">Dashboard</a></li>
							<li class="breadcrumb-item active">Change Password</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-md-12">
					{% include 'components/messages.html' %}
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Change Password</h4>
						</div>
						<div class="card-body">
							<form method="post">
								{% csrf_token %}
								<div class="form-group">
									<label>Old Password</label>
										{{form.old_password|add_class:"form-control"}}
									<div class="text-danger" id="error-old_password">{{form.errors.old_password}}</div>
								</div>
								<div class="form-group">
									<label>New Password</label>
									{{form.new_password1|add_class:"form-control"}}
									<div class="text-danger" id="error-new_password1">{{form.errors.new_password1}}</div>
								</div>
								<div class="form-group">
									<label>Confirm Password</label>
									{{form.new_password2|add_class:"form-control"}}
									<div class="text-danger" id="error-new_password2">{{form.errors.new_password2}}</div>
								</div>
								<div class="text-right">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->

{% endblock content %}