{% extends 'brander/layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
{% block styles %}
{% block title %} {% endblock %}
{% endblock styles %}

<!-- <div class="container"> -->
    <p><h3 class="mb-0">Brands List</h3></p> 
    <div class="card-body">
        
        <table class="table table-info table-striped">
            <thead>
                <tr style="background:  #80ff80">
                    <th class="serial">Num</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Action</th>
                    <th>View</th>
                    
                </tr>
            </thead>
            <tbody>
                {% if list_brands %}
                {% for i in list_brands %}
                
                    <tr>
                        <td class="serial">{{ forloop.counter }}</td>
                        <td>{{i.created}}</td>
                        <td>{{i.brand_name}}</td>
                        <td>{{i.brandstatus}}</td>
                        <td>
                            <a href="{% url 'brands:brand_view' i.id %}" class="btn btn-primary">View</a>
                        </td>
                        
                    </tr>
                
                {% endfor %}
                {% else %}
                        <tr><td>No brands</td></tr>
                    {% endif %}
            </tbody>
        </table>
    </div>

<!-- </div> -->

{% endblock content %}