{% extends 'layouts/customer-base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
{% block styles %}
<style>
    /* Styles for table */
    .table-info {
        width: 100%;
    }

    .table-info th,
    .table-info td {
        padding: 0.5rem;
    }

    /* Styles for smaller screens */
    @media (max-width: 576px) {
        .table-info-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .table-info-responsive table {
            width: 100%;
            margin-bottom: 0;
        }

        .table-info-responsive th,
        .table-info-responsive td {
            white-space: nowrap;
        }
    }
</style>
{% endblock styles %}

<div class="container">
    <p><h1 class="mb-0">My brands</h1></p>

    <div class="card-body">
        <div class="table-info-responsive">
            <table class="table table-info">
                <thead>
                    <tr>
                        <th class="serial">Num</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Transaction ID</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if brands %}
                        {% for i in brands %}
                            <tr>
                                <td data-label="Num" class="serial">{{ forloop.counter }}</td>
                                <td data-label="Date">{{ i.created }}</td>
                                <td data-label="Name">{{ i.order_tno }}</td>
                                <td data-label="Transaction ID">{{ i.brand_name }}</td>
                                <td data-label="Status">{{ i.brandstatus }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No recent brands</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
