{% extends 'layouts/base-auth.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="card-body">
  <div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Create a Customer Account</h5>
    <p class="text-center small">Enter your personal details to create account</p>
  </div>
  <form class="row g-3 " method="post">
    {% csrf_token %}

    {% include 'components/form-errors.html' with form=form %}
    {% include 'components/form.html' with form=form %}

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and
            conditions</a></label>
        <div class="invalid-feedback">You must agree before submitting.</div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit">Create Account</button>
    </div>
    <div class="col-12">
      <p class="small mb-0">Already have an account? <a href="{% url 'accounts:login' %}">Log in</a></p>
    </div>
  </form>
</div>
{% endblock %}