{% extends 'customer/layouts/base.html' %}
{% load static %}
{% block content %}
	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-8 offset-md-2">

					<!-- Account Content -->
					<div class="account-content">
						<div class="row align-items-center justify-content-center">
							<div class="col-md-7 col-lg-6 login-left">
								<img src="{% static 'customer/assets/img/login-banner.png' %}" class="img-fluid" alt="Login Banner">
							</div>
							<div class="col-md-12 col-lg-6 login-right">
								<h2>Password Reset Complete</h2>
								<p>Your password has been successfully reset.</p>
								<a href="/">Log in</a>
							</div>
						</div>
					</div>
					<!-- /Account Content -->

				</div>
			</div>

		</div>

	</div>
	<!-- /Page Content -->

{% endblock content %}