{% include 'includes/styles.html' %}
{% load static %}
{% block content %}
	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-8 offset-md-2">

					<!-- Account Content -->
					<div class="account-content">
						<div class="row align-items-center justify-content-center">
							<div class="col-md-7 col-lg-6 login-left">
								<img src="{% static 'customer/assets/img/login-banner.png' %}" class="img-fluid" alt="Login Banner">
							</div>
							<div class="col-md-12 col-lg-6 login-right">
								<div class="login-header">
									<h3>Password Reset Complete</h3>
								</div>

								<!-- Reset Password Message -->
								<p>Your password has been successfully reset.</p>
								<p>If you have any further questions or need assistance, please contact our support team.</p>
								<!-- /Reset Password Message -->

								<a href="/" class="btn btn-primary btn-block btn-lg login-btn">Back to Login</a>
							</div>
						</div>
					</div>
					<!-- /Account Content -->

				</div>
			</div>

		</div>

	</div>
	<!-- /Page Content -->

	<style>
		/* Responsive Styles */
		@media only screen and (max-width: 768px) {
			.container-fluid {
				padding: 10px;
			}

			.login-left {
				text-align: center;
			}

			.login-right {
				margin-top: 20px;
				text-align: center;
			}

			.login-header h3 {
				font-size: 24px;
			}

			.login-right p {
				margin-bottom: 10px;
			}

			.login-btn {
				margin-top: 20px;
			}
		}
	</style>

{% endblock content %}
