{% include 'includes/styles.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-8 offset-md-2">

					<h2>Reset Password</h2>
					
					<form method="POST">
					  {% csrf_token %}
					  {{ form.as_p }}
					  <button class="btn btn-primary" type="submit">Reset</button>
					</form>
                
				</div>

			</div>

		</div>

	</div>
	<!-- /Page Content -->

	<style>
		/* Responsive Styles */
		@media only screen and (max-width: 768px) {
			.container-fluid {
				padding: 10px;
			}

			.col-md-8.offset-md-2 {
				margin-top: 20px;
			}

			h2 {
				font-size: 24px;
				text-align: center;
			}

			form {
				margin-top: 20px;
				text-align: center;
			}

			.btn-primary {
				margin-top: 20px;
			}
		}
	</style>

{% endblock content %}
