{% extends 'layouts/customer-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
			
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-12 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'store:view-product' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Profile</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">Profile</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->

	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				{% include 'includes/sidebar.html' %}

				<div class="col-md-7 col-lg-8 col-xl-9">
					<div class="card">
						<div class="card-body pt-0">

							<!-- Tab Menu -->
							<nav class="user-tabs mb-4">
								<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
									<li class="nav-item">
										<a class="nav-link active" href="#edit-profile" data-toggle="tab">Edit Profile</a>
									</li>
								</ul>
							</nav>
							<!-- /Tab Menu -->

							<!-- Tab Content -->
							<div class="tab-content pt-0">

								<!-- Appointment Tab -->
								<div id="edit-profile" class="tab-pane fade show active">
									<div class="card card-table mb-0">
										<div class="card-body">
											<!-- Checkout Form -->
											<form method="post" enctype="multipart/form-data">
												{% csrf_token %}
												<!-- Personal Information -->
												<div class="info-widget">
													<h4 class="card-title">Personal Information</h4>
													<div class="row">
														<div class="col-md-6 col-sm-12">
															<div class="form-group card-label">
																<label>First Name</label>
																{{form.first_name|add_class:"form-control"}}
															</div>
															<div class="text-danger" id="error-first_name">{{form.errors.first_name}}</div>
														</div>
														<div class="col-md-6 col-sm-12">
															<div class="form-group card-label">
																<label>Last Name</label>
																{{form.last_name|add_class:"form-control"}}
															</div>
															<div class="text-danger" id="error-last_name">{{form.errors.last_name}}</div>
														</div>
														<div class="col-md-6 col-sm-12">
															<div class="form-group card-label">
																<label>Email</label>
																{{form.email|add_class:"form-control"}}
															</div>
															<div class="text-danger" id="error-email">{{form.errors.email}}</div>
														</div>
														<div class="col-md-6 col-sm-12">
															<div class="form-group card-label">
																<label>Phone</label>
																{{p_form.phone_number|add_class:"form-control"}}
															</div>
															<div class="text-danger" id="error-phone_number">{{form.errors.phone_number}}</div>
														</div>
														<div class="col-md-6 col-sm-12">
															<div class="form-group card-label">
																<label>Gender</label>
																{{p_form.gender|add_class:"form-control"}}
															</div>
															<div class="text-danger" id="error-gender">{{form.errors.gender}}</div>
														</div>
														
														<div class="col-md-6 col-sm-12">
															<div class="form-group card-label">
																<label>Image</label>
																{{p_form.image|add_class:"form-control"}}
															</div>
															<div class="text-danger" id="error-image">{{form.errors.image}}</div>
														</div>
													</div>
												</div>
												<!-- /Personal Information -->
												<!-- Submit Section -->
												<div class="submit-section mt-4">
													<button type="submit" class="btn btn-primary submit-btn">Update Profile</button>
												</div>
												<!-- /Submit Section -->
											</form>
											<!-- /Checkout Form -->
										</div>
									</div>
								</div>
								<!-- /Appointment Tab -->
							</div>
							<!-- Tab Content -->

						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- /Page Content -->

{% endblock content %}
{% block scripts %}
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock scripts %}