<aside id="sidebar" class="sidebar"  >

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'accounts:dispatch-manager' %}" >
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item" >
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
       <i class="bi bi-cart"></i></i><span >Orders</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'orders:orders_list' %}">
             <i class="bi bi-cart" style="font-size: large"></i><span>Order-list</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-people" style="font-size: large"></i><span>Customers</span>
            </a>
          </li>
        </ul>
      </li><!-- End Orders Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-truck"></i></i><span>Delivery</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'store:create-delivery' %}">
             <i class="bi bi-box-arrow-in-right" style="font-size: large"></i><span>Create delivery</span>
            </a>
          </li>
          <li>
            <a href="{% url 'store:delivery-list' %}">
                <i class="bi bi-text-indent-left" style="font-size: large"></i><span>View delivery</span>
            </a>
          </li>
        </ul>
      </li><!-- End deliveries Nav -->


      <li class="nav-heading">Pages</li>
        

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->


    </ul>

  </aside><!-- End Sidebar-->