<aside id="sidebar" class="sidebar"  >

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a href="{% url 'accounts:inventory-manager' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#" >
        <i class="bi bi-shop"></i></i><span>Category</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'store:create_category' %}">
              <i class="bi bi-plus" style="font-size: large"></i></i><span>Add category</span>
            </a>
          </li>
          <li>
            <a href="{% url 'store:category_list' %}">
                   <i class="fa fa-list" style="font-size: large"></i><span>Categories</span>
            </a>
          </li>
        </ul>
      </li><!-- end of products-->

        <li class="menu-item">
            <a href="#">
              <i class="fas fa-folder-plus"></i>Create Category
            </a>
          </li><br>

          <li class="menu-item">
            <a href="#">
              <i class="fas fa-list"></i>Category List
            </a>
          </li><br>

          <li class="menu-item">
            <a href="{% url 'store:product-create' %}">
              <i class="fas fa-plus"></i>Create Product
            </a>
          </li><br>

          <li class="menu-item">
            <a href="{% url 'store:product-list' %}">
              <i class="fas fa-boxes"></i>Product List
            </a>
          </li><br>

       <!--    <li class="menu-item">
            <a href="#"}">
              <i class="fas fa-shopping-basket"></i>Order List
            </a>
          </li><br -->

          <!-- <li class="menu-item">
            <a href="#">
              <i class="fas fa-check-double"></i>Completed Orders
            </a>
          </li><br> -->



          <li class="menu-item">
            <a href="{% url 'supply:tender-request' %}">
              <i class="fas fa-pen"></i>Add Supply Tender
            </a>
          </li><br>

          <li class="menu-item">
            <a href="{% url 'supply:pending_approval_tenders' %}">
              <i class="fas fa-hourglass-half"></i>Pending Approval Tenders
            </a>
          </li><br>

          <li class="menu-item">
            <a href="{% url 'supply:confirm-tenders' %}">
              <i class="fas fa-check-circle"></i>Confirm Supplies
            </a>
          </li><br>

          <li class="menu-item">
            <a href="{% url 'supply:confirmed-inventory-tenders' %}">
              <i class="fas fa-check-double"></i>Completed Supplies
            </a>
          </li><br>

         <!-- End deliveries Nav -->

      <li class="nav-heading">Pages</li>
        
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->


    </ul>

  </aside><!-- End Sidebar-->