<aside id="sidebar" class="sidebar"  >

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a href="{% url 'accounts:inventory-manager' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#" >
        <i class="bi bi-shop"></i></i><span>Category</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'store:create_category' %}">
              <i class="bi bi-plus" style="font-size: large"></i></i><span>Add category</span>
            </a>
          </li>
          <li>
            <a href="{% url 'store:category_list' %}">
                   <i class="fa fa-list" style="font-size: large"></i><span>Categories</span>
            </a>
          </li>
        </ul>
      </li><!-- end of products-->

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#" >
        <i class="bi bi-shop"></i></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'store:create_product' %}">
              <i class="bi bi-plus" style="font-size: large"></i></i><span>Add product</span>
            </a>
          </li>
          <li>
            <a href="{% url 'store:product-list' %}">
                   <i class="fa fa-product-hunt" style="font-size: large"></i><span>Product List</span>
            </a>
          </li>
        </ul>
      </li><!-- end of products-->


        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-truck"></i></i><span>Supply</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'supply:request_supply' %}">
             <i class="bi bi-box-arrow-in-right" style="font-size: large"></i><span>Request Supply</span>
            </a>
          </li>
          <li>
            <a href="{% url 'supply:supply_request_list' %}">
                <i class="bi bi-text-indent-left" style="font-size: large"></i><span>Supply request list</span>
            </a>
          </li>
        </ul>
      </li><!-- End deliveries Nav -->

      <li class="nav-heading">Pages</li>
        
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->


    </ul>

  </aside><!-- End Sidebar-->