{% extends 'driver/layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

     
<div style="padding-top: 10px;">
   <!-- Page Content -->

    <div class="container-fluid">

      <div class="row">
       

        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="card">
            <div class="card-body pt-0">

              

              <!-- Tab Content -->
              <div class="tab-content pt-0">

                <!-- Appointment Tab -->
                <div id="edit-profile" class="tab-pane fade show active">
                
                      <!-- Checkout Form -->
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Personal Information -->
                        <div class="info-widget">
                          <h4 class="card-title">Personal Information</h4>
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <div class="form-group card-label">
                                <label>First Name</label>
                                {{form.first_name|add_class:"form-control"}}
                              </div>
                              <div class="text-danger" id="error-first_name">{{form.errors.first_name}}</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <div class="form-group card-label">
                                <label>Last Name</label>
                                {{form.last_name|add_class:"form-control"}}
                              </div>
                              <div class="text-danger" id="error-last_name">{{form.errors.last_name}}</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <div class="form-group card-label">
                                <label>Email</label>
                                {{form.email|add_class:"form-control"}}
                              </div>
                              <div class="text-danger" id="error-email">{{form.errors.email}}</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <div class="form-group card-label">
                                <label>Phone</label>
                                {{form.phone_number|add_class:"form-control"}}
                              </div>
                              <div class="text-danger" id="error-phone_number">{{form.errors.phone_number}}</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <div class="form-group card-label">
                                <label>gender</label>
                                {{p_form.gender|add_class:"form-control"}}
                              </div>
                              <div class="text-danger" id="error-gender">{{form.errors.gender}}</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <div class="form-group card-label">
                                <label>image</label>
                                {{p_form.image|add_class:"form-control"}}
                              </div>
                              <div class="text-danger" id="error-image">{{form.errors.image}}</div>
                            </div>
                          </div>
                        </div>
                        <!-- /Personal Information -->
                        <!-- Submit Section -->
                        <div class="submit-section mt-4">
                          <button type="submit" class="btn btn-primary submit-btn">Update profile</button>
                        </div>
                        <!-- /Submit Section -->
                      </form>
                      <!-- /Checkout Form -->
                    </div>
              
                </div>
                <!-- /Appointment Tab -->
              </div>
              <!-- Tab Content -->

            </div>
          </div>
        </div>
      </div>

    </div>
{% endblock content %}
