{% extends 'inventory/layouts/base.html' %}

{% block content %}
<div class="container" style="padding: 50px;">
  <h1>{{ object.name }}</h1>
  <p>{{ object.description }}</p>
  <p><strong>Price:</strong> {{ object.price }}</p>
  <p><strong>Category:</strong> {{ object.category }}</p>
  <img src="{{ object.image.url }}" alt="{{ object.name }}" class="img-fluid">
  <a href="{% url 'inventory:product-update' pk=object.pk %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'inventory:product-delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'inventory:product-list' %}" class="btn btn-secondary">Back to Product List</a>
  </div>
{% endblock %}
