{% extends 'customer/layouts/base.html' %}

{% block title %}View Products{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-4">View Available Products</h1>
        <div class="row row-cols-1 row-cols-md-3">
            {% for product in products %}
                <div class="col-6 col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <a href="{% url 'inventory:product-detail-customer' product.pk %}">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                        </a>
                        <div class="card-body p-3">
                            <h5 class="card-title mb-2">{{ product.name }}</h5>
                            <p class="card-text text-primary mb-1"><strong>{{ product.price }}</strong>
                            <p class="card-text text-primary mb-1"><strong>In stock:{{ product.quantity }}</strong>
                            </p>
                            
                                <div style="padding:  5px;">
                                    <a href="{% url 'inventory:add_to_cart' product.pk %}" class="btn btn-primary btn-sm btn-block">Add to cart</a>
                                </div>

                                <div >
                                    <a href="{% url 'inventory:product-detail-customer' product.pk %}" class="btn btn-primary btn-sm btn-block">View product</a>
                                </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
