{% extends 'layouts/customer-base.html' %}

{% load static %}
{% block styles %}
{% include 'home/includes/styles.html' %}
{% endblock styles %}

{% block content %}
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-8 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Product</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">{{product.name|title}}</h2>
				
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->

	<!-- Page Content -->
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-xl-12">
					<!-- Product Widget -->
					<div class="card">
						<div class="card-body">
							<div class="card-shadow">
								<div class="center">
									<div class="img">
											<img src="{{product.image.url}}" class="img-fluid" alt="{{product.name}}" style="height: 300px; width: 300px; object-fit: cover;">
									</a>
									</div>
									<div class="doc-info-cont">
										<h4 class="doc-name">{{product.name}}</a></h4>
										<p class="doc-speciality ">{{product.description}}</p>
										<p class="card-text">Ksh.{{ product.price }}</p>
									</div>
								</div>

								<div class="col">
									<div class="row pe-3">
										<div class="col-6">
											<label for="select">Qty</label>
											<select id = "select">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-12">
									<button type="button" id="add-button" value="{{product.id}}" class="btn-outline-primary btn-sm">Add to cart</button>
								</div>

							</div>
						</div>
					</div>
			</div>

		</div>
	</div>
</div>
			<!-- /Page Content -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
	$(document).on('click','#add-button', function(e){
		e.preventDefault();
		$.ajax({
			type: 'POST',
			url: '{% url "basket:basket_add" %}',
			data: {
				productid: $('#add-button').val(),
				productqty: $('select option:selected').text(),
				csrfmiddlewaretoken: '{{csrf_token}}',
				action: 'post'
			},
			success: function(json){
				document.getElementById("basket-qty").innerHTML = json.qty
			},
			error: function (xhr, errmsg, err){

			}
		});
	})
</script>


{% endblock content %}
{% block scripts %}
{% include 'home/includes/scripts.html' %}
<script src="{% static 'customer/assets/js/custom.js' %}"></script>
{% endblock scripts %}