{% extends 'layouts/financemanager-base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
{% block styles %}
{% block title %} {% endblock %}
{% endblock styles %}

<!-- <div class="container"> -->
    <p><h3 class="mb-0">Orders List</h3></p> 

    <style type="text/css">
		body
		{
		    counter-reset: Serial;          
		}

		table
		{
		    border-collapse: separate;
		}

		tr td:first-child:before
		{
		  counter-increment: Serial;      
		  content: counter(Serial); 
		}
	</style>

    <div class="card-body">
        <!-- <a class="btn btn-primary btn-sm btn-block" href="{% url 'orders:create_order' %}">Create Order</a> -->
        <table class="table table-info table-striped">
            <thead>
                <tr>
                    <th>Num</th>
                    <th>Date Orderd</th>
                    <th>Track No</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for i in orders %}
                
                    <tr>
                        <td></td>
                        <td>{{i.created}}</td>
                        <td>{{i.tracking_no}}</td>
                        <td>{{i.amount_paid}}</td>
                        <td>{{i.orderstatus}}</td>
                        <td>
                            <a href="{% url 'orders:update_order' i.id %}" class="btn btn-primary">Update</a>
                        </td>
                        <td>
                            <a href="{% url 'orders:delete_order' i.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>

<!-- </div> -->

{% endblock content %}