{% extends 'layouts/customer-base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
{% block styles %}
{% block title %} {% endblock %}
{% endblock styles %}

<div class="container">
    <p><h3 class="mb-0">My orders</h3></p> 


    <div class="card-body">
        <table class="table table-info table-striped">
            <thead>
                <tr>
                    <th class="serial">Num</th>
                    <th>Date</th>
                    <th>Track No</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if orders %}

                {% for i in orders %}
                    <tr>
                        <td class="serial">{{ forloop.counter }}</td>
                        <td>{{i.created}}</td>
                        <td>{{i.tracking_no}}</td>
                        <td>{{i.amount_paid}}</td>
                        <td>{{i.orderstatus}}</td>
                        <td>
                            <a href="{% url 'orders:orderview' i.tracking_no %}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                {% endfor %}

                {% else %}
                <tr><td>No recent orders</td></tr>

                {% endif %}
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}