{% extends 'layouts/customer-base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
{% block styles %}
{% block title %} <p><h3 class="mb-0">My orders</h3></p> {% endblock %}
{% endblock styles %}

<div class="container">

    <style type="text/css">
		body
		{
		    counter-reset: Serial;          
		}

		table
		{
		    border-collapse: separate;
		}

		tr td:first-child:before
		{
		  counter-increment: Serial;      
		  content: counter(Serial); 
		}
	</style>

    <div class="card-body">
        <table class="table table-info table-striped">
            <thead>
                <tr>
                    <th>Num</th>
                    <th>Date</th>
                    <th>Track No</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in orders %}
                
                    <tr>
                        <td></td>
                        <td>{{i.created}}</td>
                        <td>{{i.tracking_no}}</td>
                        <td>{{i.amount_paid}}</td>
                        <td>{{i.orderstatus}}</td>
                        <td>
                            <a href="{% url 'orders:orderview' i.tracking_no %}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}