{% extends 'layouts/customer-base.html' %}

{% load static %}
{% block styles %}
{% block title %}Basket Summary {% endblock %}
{% include 'home/includes/styles.html' %}
{% endblock styles %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  
</script> 
{% block content %}

<main class="pt-5">
    <div class="container">
        <h1>Shopping Basket</h1>

        <div class="col-md-5 col-lg-4 order-and-last p-0 order-1">
            <div class="d-grid gap-2">
                <a role="button" href="{% url 'payment:basket' %}" class="btn btn-success fw-bold" type="button">Check out</a>
                <button class="btn btn-light" type="button">Save for Later</button>
            </div>
        </div>

         {% for item in basket %}
         {% with product=item.product %}
         <div data-index="{{product.id}}" class="row mb-4 border product-item">
                <!-- Breadcrumb -->
                <div class="breadcrumb-bar">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-8 col-12">
                                <h2 class="breadcrumb-title">{{product.name|title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Breadcrumb -->
    
                <!-- Page Content -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <!-- Product Widget -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="doctor-widget">
                                            <div class="center">
                                                <div class="img">
                                                        <img src="{{product.image.url}}" class="img-fluid" alt="{{product.name}}" style="height: 300px; width: 300px; object-fit: cover;">
                                                </a>
                                                </div>
                                                <!-- <div class="doc-info-cont">
                                                    <h4 class="doc-name">{{product.name}}</a></h4>
                                                    <p class="doc-speciality ">{{product.description}}</p>
                                                    <p class="card-text">Ksh.{{ product.price }}</p>
                                                </div> -->
                                            </div>
    
                                        <div class="col-md-9 col-lg-10 ps-md-3 ps-1g-10">
                                            <a href="{{product.get_absolute_url}}" class="text-decoration-none text-reset"><h1></h1></a>
                                            <div class="border">
                                                <div class="col border-bottom">
                                                    <div class="row-p3">
                                                        
                                                        <div class="col-6 text-end"><span class="h6 fw-bold">Ksh{{ product.price }}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                            <div class="col">
                                                <div class="row pe-3">
                                                    <div class="col-6">
                                                        <label for="select">Qty</label>
                                                        <select id = "select{{product.id}}">
                                                            <option selected>
                                                                {{item.qty}}
                                                            </option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="4">5</option>
                                                        </select>
                                                        <button type="button" id="update-button"  data-index="{{product.id}}" class="btn btn-outline-primary btn-sm update-button">
                                                            Update
                                                        </button>
                                                        <button type="button" id="delete-button" data-index="{{product.id}}" class="btn btn-outline-primary btn-sm delete-button">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                    </div>
    
                </div>
                <!-- /Page Content -->
                {% endwith %}
                {% endfor %}
                <div class="col-12 text-end">
                    <div class="h6 fw-bold">
                        Sub Total: Ksh<div id="subtotal" class="d-inline-flex">{{basket.get_total_price}}</div>
                    </div>
                </div>
         </div>
    </div>
</main>

<script>
    //delete item
	$(document).on('click','.delete-button', function(e){
		e.preventDefault();
        var prodid = $(this).data('index');
		$.ajax({
			type: 'POST',
			url: '{% url "basket:basket_delete" %}',
			data: {
				productid: $(this).data('index'),
				csrfmiddlewaretoken: "{{csrf_token}}",
				action: 'post'
			},
			success: function(json){
                $('.product-item[data-index="'+ prodid +'"]').remove();	
                document.getElementById("subtotal").innerHTML = json.subtotal
                document.getElementById("basket-qty").innerHTML = json.qty			
			},
			error: function (xhr, errmsg, err){

			}
		});
	})

    //update item
	$(document).on('click','.update-button', function(e){
		e.preventDefault();
        var prodid = $(this).data('index');
		$.ajax({
			type: 'POST',
			url: '{% url "basket:basket_update" %}',
			data: {
				productid: $(this).data('index'),
				productqty: $('#select' + prodid +' option:selected').text(),
				csrfmiddlewaretoken: "{{csrf_token}}",
				action: 'post'
			},
			success: function(json){
                document.getElementById("basket-qty").innerHTML = json.qty
                document.getElementById("subtotal").innerHTML = json.subtotal
			},
			error: function (xhr, errmsg, err){

			}
		});
	})
</script>

{% block scripts %}
<script src="{% static 'customer/assets/js/custom.js' %}"></script>
{% endblock scripts %}

{% endblock %}